API_ID=1234567
API_HASH=your_api_hash
BOT_TOKEN=your_bot_token
MONGO_DB_URI=None
DURATION_LIMIT=360
SONG_DOWNLOAD_DURATION_LIMIT=5400
LOGGER_ID=None
OWNER_ID=5743632846
HEROKU_APP_NAME=None
HEROKU_API_KEY=None
UPSTREAM_REPO=https://github.com/Emrecq/Kumsal-muzik-bot/
UPSTREAM_BRANCH=master
GIT_TOKEN=None
SUPPORT_CHANNEL=https://t.me/your_support_channel
SUPPORT_CHAT=https://t.me/your_support_chat
SPOTIFY_CLIENT_ID=None
SPOTIFY_CLIENT_SECRET=None
PLAYLIST_FETCH_LIMIT=25
TG_AUDIO_FILESIZE_LIMIT=314572800
TG_VIDEO_FILESIZE_LIMIT=3221225472
STRING_SESSION=None
STRING_SESSION2=None
STRING_SESSION3=None
STRING_SESSION4=None
STRING_SESSION5=None
START_IMG_URL=https://telegra.ph/Yeni-11-29
PING_IMG_URL=https://telegra.ph/Yeni-11-29
